
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-size-testimonial: clamp(42px, 5.5vw, 90px);
  --font-size-h0Text: clamp(36px, 4vw, 80px);
  --font-size-h1Text: clamp(32px, 3.5vw, 72px);
  --font-size-h2Text: clamp(28px, 3vw, 56px);
  --font-size-h3Text: clamp(24px, 2.5vw, 52px);
  --font-size-h4Text: clamp(20px, 2vw, 48px);
  --font-size-h5Text: clamp(16px, 1.5vw, 44px);
  --font-size-h6Text: clamp(14px, 1.25vw, 24px);
  --font-size-mediumText: clamp(12px, 1.2vw, 24px);
  --font-size-regularText: clamp(12px, 1vw, 18px);
  --font-size-smallText: clamp(10px, 0.875vw, 16px);
  --font-size-tinyText: clamp(8px, 0.75vw, 14px);
  --font-size-h0TextPhone: clamp(36px, 16vw, 80px);
  --font-size-h1TextPhone: clamp(32px, 14vw, 72px);
  --font-size-h2TextPhone: clamp(28px, 12vw, 56px);
  --font-size-h3TextPhone: clamp(24px, 10vw, 52px);
  --font-size-h4TextPhone: clamp(20px, 8vw, 48px);
  --font-size-h5TextPhone: clamp(16px, 6vw, 44px);
  --font-size-h6TextPhone: clamp(14px, 4.5vw, 24px);
  --font-size-mediumTextPhone: clamp(12px, 4.25vw, 24px);
  --font-size-regularTextPhone: clamp(12px, 4vw, 18px);
  --font-size-smallTextPhone: clamp(10px, 3.5vw, 16px);
  --font-size-tinyTextPhone: clamp(8px, 3vw, 14px);
  
  --color-orangeChosen: #290572;
  --color-linenChosen: #F6F1FF;
}

/* Custom utility classes for the font sizes */
.text-testimonial { font-size: var(--font-size-testimonial); }
.text-h0Text { font-size: var(--font-size-h0Text); }
.text-h1Text { font-size: var(--font-size-h1Text); }
.text-h2Text { font-size: var(--font-size-h2Text); }
.text-h3Text { font-size: var(--font-size-h3Text); }
.text-h4Text { font-size: var(--font-size-h4Text); }
.text-h5Text { font-size: var(--font-size-h5Text); }
.text-h6Text { font-size: var(--font-size-h6Text); }
.text-mediumText { font-size: var(--font-size-mediumText); }
.text-regularText { font-size: var(--font-size-regularText); }
.text-smallText { font-size: var(--font-size-smallText); }
.text-tinyText { font-size: var(--font-size-tinyText); }
.text-h0TextPhone { font-size: var(--font-size-h0TextPhone); }
.text-h1TextPhone { font-size: var(--font-size-h1TextPhone); }
.text-h2TextPhone { font-size: var(--font-size-h2TextPhone); }
.text-h3TextPhone { font-size: var(--font-size-h3TextPhone); }
.text-h4TextPhone { font-size: var(--font-size-h4TextPhone); }
.text-h5TextPhone { font-size: var(--font-size-h5TextPhone); }
.text-h6TextPhone { font-size: var(--font-size-h6TextPhone); }
.text-mediumTextPhone { font-size: var(--font-size-mediumTextPhone); }
.text-regularTextPhone { font-size: var(--font-size-regularTextPhone); }
.text-smallTextPhone { font-size: var(--font-size-smallTextPhone); }
.text-tinyTextPhone { font-size: var(--font-size-tinyTextPhone); }

/* Custom utility classes for colors */
.text-orangeChosen { color: var(--color-orangeChosen); }
.bg-orangeChosen { background-color: var(--color-orangeChosen); }
.border-orangeChosen { border-color: var(--color-orangeChosen); }

.text-linenChosen { color: var(--color-linenChosen); }
.bg-linenChosen { background-color: var(--color-linenChosen); }
.border-linenChosen { border-color: var(--color-linenChosen); }

body, html, #root {
	font-family: 'Poppins', sans-serif;
}


 @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-33.33%);
          }
        }
        
        .animate-scroll {
          animation: scroll 20s linear infinite;
        }
        
        .animate-scroll:hover {
          animation-play-state: paused;
        }